@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary: rgba(255, 255, 255, 0.9);
  --secondary: rgba(7, 7, 10, 0.4);
  --stats-bar: rgba(79, 70, 186, 1);
  --stats-fill: rgba(51, 23, 165, 1);
  /* 320-768px */
  --md: clamp(1rem, 1.6473rem + -3.2366vw, 0.09375rem);

  --cta: rgba(44, 200, 207, 1);
}

svg {
  -webkit-tap-highlight-color: transparent;
}

html,
body,
:root {
  height: 100%;
}

/* remove scroll on mobile */
@media screen and (max-width: 768px) {
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 18px;
    height: 18px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.6);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(7, 7, 10, 0.4);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(7, 7, 10, 0.4);
  }
}

/* About page */
.CircularProgressbar-path {
  stroke: var(--stats-fill) !important;
}

.CircularProgressbar-trail {
  stroke: var(--stats-bar) !important;
}

.CircularProgressbar-text {
  fill: var(--primary) !important;
  font-size: var(--md) !important;
  animation: neonAnim 1s alternate-reverse infinite !important;
  color: var(--primary) !important;
}

@keyframes neonAnim {
  from {
    text-shadow: 0 0 10px var(--primary), 0 0 40px var(--primary), 0 0 100px var(--primary);
  }

  to {
    text-shadow: 0 0px 12px var(--primary), 0 0 41px var(--primary), 0 0 102px var(--primary);
  }
}

/* RadioButton.tsx */
input[type="radio"]:checked + .label {
  border-color: var(--cta);
}

input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.label::after {
  background-color: var(--cta);
}

.label {
  border: 1px solid var(--secondary);
}

/* Checkbox.tsx */
.checkbox-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  appearance: none;
  outline: none;
  -webkit-appearance: 0;
  height: 15px;
  width: 15px;
  margin: 0px 5px 0px 3px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container input::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 6px;
  width: 10px;
  height: 10px;
  border-radius: 0.1em;
  transform: scale(0);
  transition: all 0.4s;
  opacity: 0%;
  pointer-events: none;
  background-color: var(--cta);
}

.checkbox-container:hover input[type="checkbox"]:not(:checked)::before {
  transform: scale(3.6);
  opacity: 10%;
}

.checkbox-container input[type="checkbox"]::after {
  content: "\f00c";
  font-family: "Font awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  color: #000000;
}

.checkbox-container input[type="checkbox"]:not(:checked)::after {
  display: none;
}

.checkbox-container input[type="checkbox"]:not(:checked) {
  background-color: transparent;
  transition: all 0.3s;
}

.checkbox-container input[type="checkbox"]:not(:checked):hover {
  background-color: var(--cta);
}

.checkbox-container input[type="checkbox"]:not(:checked):active {
  background-color: var(--cta);
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: var(--cta);
}

.checkbox-container input[type="checkbox"]:checked:hover {
  background-color: var(--cta);
}

.checkbox-container input[type="checkbox"]:checked:active {
  background-color: var(--cta);
}

.checkbox-container input[type="checkbox"]:checked::after {
  display: flex;
}

/* Slider */
.slider-image {
  aspect-ratio: 16 / 9;
  transition: 1s ease;
}

.slide-image-active {
  width: 300px;
  aspect-ratio: 16 / 9;
  cursor: default;
}

.image-wrapper {
  transition: 0.8s ease;
  width: 300px;
  aspect-ratio: 16 / 9;
  display: grid;
  place-items: center;
}

@media (max-width: 768px) {
  .slider-image {
    width: 150px;
    aspect-ratio: 16 / 9;
  }

  .slide-image-active {
    width: 250px;
    aspect-ratio: 16 / 9;
  }
}
/* Visually hidden class */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
