@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgba(255, 255, 255, 0.9);
  --stats-bar: rgba(79, 70, 186, 1);
  --stats-fill: rgba(51, 23, 165, 1);
}


svg {
  -webkit-tap-highlight-color: transparent;
}


html,
body,
:root {
  height: 100%;
}

/* Products page - scrollbar */

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 18px;
    height: 18px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.6);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(7, 7, 10, 0.4);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(7, 7, 10, 0.4);
  }
}


/* About page */
.CircularProgressbar-path {
  stroke: var(--stats-fill) !important;
}

.CircularProgressbar-trail {
  stroke: var(--stats-bar) !important;
}

.CircularProgressbar-text {
  fill: var(--primary) !important;
}